@import "styles/variables";
// @import "styles/layout";

// 中心元素
.abs-center-container {
  position: relative;
}

.abs-center {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &.abs-fixed {
      position: fixed;
      z-index: 999;
  }
  &.abs-right {
      left: auto;
      right: 20px;
      text-align: right;
  }
  &.abs-left {
      right: auto;
      left: 20px;
      text-align: left;
  }
}

@media (max-width: 320px) {
  .abs-center {
      padding: 0 10px;
  }
}

@media (max-height: $screen-sm) {
  .abs-center {
      position: relative;
  }
}

.d-none             { display: none !important; }
.d-block            { display: block !important; }
.d-inline-block     { display: inline-block !important; }
.d-flex             { display: flex !important; }
.d-inline-flex      { display: inline-flex !important; }

.justify-content-start   { justify-content: flex-start !important; }
.justify-content-end     { justify-content: flex-end !important; }
.justify-content-center  { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }
.justify-content-around  { justify-content: space-around !important; }

.align-items-start       { align-items: flex-start !important; }
.align-items-end         { align-items: flex-end !important; }
.align-items-center      { align-items: center !important; }
.align-items-baseline    { align-items: baseline !important; }
.align-items-stretch     { align-items: stretch !important; }

.align-content-start     { align-content: flex-start !important; }
.align-content-end       { align-content: flex-end !important; }
.align-content-center    { align-content: center !important; }
.align-content-between   { align-content: space-between !important; }
.align-content-around    { align-content: space-around !important; }
.align-content-stretch   { align-content: stretch !important; }

.align-self-auto         { align-self: auto !important; }
.align-self-start        { align-self: flex-start !important; }
.align-self-end          { align-self: flex-end !important; }
.align-self-center       { align-self: center !important; }
.align-self-baseline     { align-self: baseline !important; }
.align-self-stretch      { align-self: stretch !important; }

.flex-1 { flex: 1 !important; }

@media (max-width: $screen-xs-max) {
  .hidden-xs {
      display: none !important;
  }
}

@media (max-width: $screen-sm-max) {
  .hidden-sm {
      display: none !important;
  }
}

@media (max-width: $screen-md-max) {
  .hidden-md {
      display: none !important;
  }
}

@media (max-width: $screen-lg-max) {
  .hidden-lg {
      display: none !important;
  }
}

// Alignment
.text-left          { text-align: left !important; }
.text-center        { text-align: center !important; }
.text-right         { text-align: right !important; }

// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }
.text-deleted    { text-decoration: line-through; }

// wrapping
.text-nowrap        { white-space: nowrap !important; }
.text-wrap          { white-space: pre-wrap !important; }

// Weight and italics

.font-weight-normal { font-weight: normal; }
.font-weight-bold   { font-weight: 700; }
.font-italic        { font-style: italic; }

// Sizing
.text-sm { font-size: $text-sm !important; }
.text-md { font-size: $text-md !important; }
.text-lg { font-size: $text-lg !important; }

// Sizing
.icon-sm { font-size: $icon-sm !important; }
.icon-md { font-size: $icon-md !important; }
.icon-lg { font-size: $icon-lg !important; }


