<div class="content__title">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">首页</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      修改密码
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-card [nzBordered]="false" nzTitle="修改密码">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-alert *ngIf="failed" nzType="error" nzMessage="密码修改失败！" [nzShowIcon]="true"></nz-alert>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="oldPassword">原始密码</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="oldPassword" id="oldPassword" type="password" placeholder="请输入原始密码" required>
        <ng-container *ngIf="oldPassword.dirty && oldPassword.errors">
          <nz-form-explain *ngIf="oldPassword.errors.required">请输入原始密码！</nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="password">新设密码</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">

        <nz-popover [nzPlacement]="'right'" [nzTrigger]="'focus'" [(nzVisible)]="visible" nzOverlayClassName="register-password-cdk"
                    [nzOverlayStyle]="{'width.px': 240}">
          <nz-input-group nz-popover nzAddonBeforeIcon="anticon anticon-lock">
            <input nz-input type="password" formControlName="password" placeholder="至少6位新密码，区分大小写" required>
          </nz-input-group>
          <ng-container *ngIf="password.dirty && password.errors">
            <nz-form-explain *ngIf="password.errors.required">请输入新密码！</nz-form-explain>
            <nz-form-explain *ngIf="password.errors.minlength">请至少输入 6 位新密码！</nz-form-explain>
          </ng-container>
          <ng-template #nzTemplate>
            <div style="padding: 4px 0;">
              <ng-container [ngSwitch]="status">
                <div *ngSwitchCase="'ok'" class="success">强度：强</div>
                <div *ngSwitchCase="'pass'" class="warning">强度：中</div>
                <div *ngSwitchDefault class="error">强度：弱</div>
              </ng-container>
              <div class="progress-{{status}}">
                <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6" [nzShowInfo]="false"></nz-progress>
              </div>
              <p class="mt-sm">请至少输入 6 个字符。请不要使用容易被猜到的密码。</p>
            </div>
          </ng-template>
        </nz-popover>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="confirmPassword">确认密码</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="请再次输入新密码" required>
        <ng-container *ngIf="confirmPassword.dirty && confirmPassword.errors">
          <nz-form-explain *ngIf="confirmPassword.errors.required">请再次输入新密码！</nz-form-explain>
          <nz-form-explain *ngIf="confirmPassword.errors.minlength">请至少输入 6 位新密码！</nz-form-explain>
          <nz-form-explain *ngIf="!(confirmPassword.errors.required || confirmPassword.errors.minlength ) && confirmPassword.errors.equal">两次输入的密码不匹配！</nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">更新密码</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
